@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root {
    /* create color pallete */
    --primary-color: #ffecd1ff;
    --secondary-color: #15616dff;
    --accent1-color: rgb(221, 112, 9);
    --accent2-color: #78290fff;

    --viridian-green: #119da4ff;
    --teal-blue: #0c7489ff;
    --midnight-green-eagle-green: #13505bff;
    --rich-black-fogra-39: #040404ff;
    --timberwolf: #d7d9ceff;

    /* create font family and font size */

    --heading-font: Sofia, Helvetica, sans-serif;
    --paragraph-font: Poppins, Helvetica, sans-serif;
    --home-title-font-family: Sofia, Helvetica, sans-serif;

    --header-font-size-small: 3em;
    --header-font-size-large: 4em;
    --paragraph-font-size-xsmall: 0.5em;
    --paragraph-font-size-small: 1em;
    --paragraph-font-size-medium: 1.5em;
    --paragraph-font-size-large: 2em;
    --book-font-size: 18px;
    --join-font-size: 18px;
    --home-title-font-size: 2em;
    --msg-p-font-size: .8em;

    --headline-color-on-white: #66a9da;
    /* headlines on a white background */
    --headline-color-on-color: #ffffff;
    /* headlines on a colored background */
    --paragraph-color-on-white: #396E94;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #ffecd1ff;
    /* paragraph text on a colored background */
    --paragraph-background-color: #15616dff;
    --nav-link-color: #ffffff;
    --nav-background-color: #13505bff;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #032136;
    --nav-font-size: 1em;

}


body {
    font-family: var(--paragraph-font);
    color: var(--teal-blue);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;

}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero img {
    width: 100%;
}

.home-title {
    font-family: var(--home-title-font-family);
    font-size: var(--home-title-font-size);
    margin-top:10px;
}

#navigation_div {
    background-color: var(--secondary-color);
    padding: 8px;
}

.logo {
    width: 80px;
}

header {
    margin-bottom: 24px;

}

#navigation_div img {
    float: left;
    display: block;
}

nav {
    padding: 24px;
    height: 32px;
}

nav a {
    font-size: var(--nav-font-size);
    text-decoration: none;
    padding: 35px;
    display: inline;
    margin-left: 8px;
}


nav a:hover {
    text-decoration: none;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav a:visited {
    text-decoration: none;
    color: var(--nav-hover-link-color);
}

nav a:link {
    text-decoration: none;
    color: var(--nav-hover-link-color);
}
#logo_link {
    padding-top: 5px;
}
#hero {
    text-align: center;
    position: relative;
}

#hero_msg {
    display: block;
    position: absolute;
    top: 10px;
}

main {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.book, .join{
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1px;
    border-radius: 5px;
    color: var(--accent1-color);
    font-family: var(--paragraph-font-size-xlarge);
    font-size: var(--book-font-size);
    margin-top: 50px;
    padding: 15px 30px;
    
}

#background {
    height: 725px;
    background-color: var(--accent2-color);
    position: relative;
}

.mountains {
    position: absolute;
    display: block;
    float: left;
    height: 625px;
    top: 8%;
    margin-left: 50px;
}

.msg {
    background-color: var(--accent1-color);
    background-color: var(--secondary-color);
    box-sizing: border-box;
    display: block;
    float: right;
    height: 400px;
    line-height: 1.5em;
    padding: 35px;    
    position: relative;
    right: 60px;
    text-align: center;
    top: 180px;
    width: 700px;

}

.msg h2 {

    font-size: var(--header-font-size-small);
    color: var(--primary-color)
}

.msg p {
    font-size: var(--msg-p-font-size);
    color: var(--paragraph-color-on-color);
    padding-bottom: 15px;
}


.social {

    float: right;
}

.card-img {
    border: 10px solid var(--secondary-color);
}

.rivers_card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}
.rapids-card{
    margin:200px 0;
}

.button_box a {
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent1-color);
    text-decoration: none;
}

footer {
    background-color: var(--midnight-green-eagle-green);
    color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: block;
    height: 80px;
}

footer p {
    display: inline;
    margin: 40px 20px 0px 20px;
}

footer a {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-xsmall);
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 15px 5px 15px;
    display: inline;
    margin: 30px 0px 0px 0px;
}

footer a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}


footer .social a {
    background-color: inherit;
    display: inline;
}


footer .social a:hover {
    background-color: inherit;
}

footer .social img {
    float: left;
    padding-top: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}