@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Roboto:wght@500&display=swap');

:root {
    /* create color pallete */
    --primary-color: #003554;
    --secondary-color: #006494;
    --accent1-color: #00A6FB;
    --accent2-color: #051923;

    --white-color:#FFF;

    /* create font family and font size */
    --heading-font: Lato, Helvetica, sans-serif;
    --heading-font-size: 2em;
    --paragraph-font: Roboto, Helvetica, sans-serif;
    --paragraph-font-size: 1em;
    

}

* {
    border-radius: 10px;

}

body {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: var(--heading-font);
    font-weight: 900;
    color: var(--secondary-color);
    font-size: var(--heading-font-size);

}
p {
    font-family: var(--paragraph-font);
    font-weight: 300;
    font-size: var(--paragraph-font-size);
    color: var(--primary-color);
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 150px auto;
}
 nav{
    display: flex;
    justify-content: space-around; 
    text-align: center;
    background-color: var(--secondary-color);    
    width: 1094px;
    margin: 0 auto;
}
nav p{
    color:var(--white-color);
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: var(--heading-font-size);
}

nav a {
    text-decoration: none;
    text-align: center;
    color: var(--white-color);
    align-self: center;
    font-family: var(--paragraph-font);
    padding: 10px;
    box-sizing: border-box;
}

nav a:hover {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

nav a:visited {
    text-decoration: none;
    color: var(--white-color);
}

nav a:link {
    text-decoration: none;
    color: var(--white-color);
}
.logo {
    width: 100px;
    margin: 5px;
}
.nav h1{
    grid-column: 1/1;
    grid-row: 1/1;
}

main{
    display: grid;
    grid-template-columns: 1fr 144px 1fr;    
    margin: 0 auto;
    margin-top: 10px;
}
#WebDevContainter{
    grid-column: 1/1;
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 100px 200px 60px 50px;  
    height: 410px;
}
#WebDevContainter img{
    grid-column: 1/1;
    grid-row: 1/1;
}
#WebDevContainter h1{
    grid-column: 1/3;
    grid-row: 3/4;    
    box-sizing: border-box;
    color: var(--white-color);
    text-align: center;    
    padding: 10px;
    margin: 0 auto;
}

#WebDevContainter a{
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 4/5;    
    box-sizing: border-box;    
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    text-decoration: none;
}
#WebDevContainter a:hover{
    color:var(--secondary-color)
}
#DigDesContainter{
    grid-column: 3/4;
    grid-row: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: 100px 200px 60px 50px;  
    height: 410px;
    
}
#DigDesContainter img{
    grid-column: 1/1;
    grid-row: 1/1;
}
#DigDesContainter h1{
    grid-column: 1/3;
    grid-row: 3/4;    
    box-sizing: border-box;
    color: var(--primary-color);
    text-align: center;    
    padding: 10px;
    margin: 0 auto;
}
#DigDesContainter a{
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 4/5;    
    box-sizing: border-box;    
    color: var(--white-color);
    font-family: var(--paragraph-font);
    text-decoration: none;
}
#DigDesContainter a:hover{
    color:var(--accent1-color)
}
.intro{
    display: grid;
    grid-template-columns: 100px 1fr 200px 1fr 100px;
}
.intro #img1{
    grid-column: 2/3;
}
.intro h1{
    grid-column: 3/4;
    box-sizing: border-box;
    padding: 10px;
    line-height: 170%; 
    text-align: center;
    font-size: 1.3em;
    font-family: var(--paragraph-font);
    font-weight: 100;
}
.intro #img2{
    grid-column: 4/5;
}
/*Styles for Hero div in webdev.html*/
.Hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
}
.Hero .HeroText{
    grid-column: 1/2;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
}
.Hero .HeroText h1{
    color: var(--white-color);

}
.Hero .HeroText p{
    color:var(--white-color);
    font-family: var(--heading-font);
    font-size: 1.5em;
}
.Hero .HeroImage{
    grid-column: 2/3;
}

section.Info {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

section.Info .InfoImage{
    grid-column: 1/2;

}
section.Info .InfoText{
    grid-column: 2/3;
    margin: auto 0;
    padding: 15px;
    line-height: 25px;
}


footer {
    background-color:var(--primary-color);
    color: var(--primary-color);
    margin-top: 50px;
    margin-bottom: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 10px;
}

footer .SocialNetwork img{
    margin-left: 10px;
}
footer p {
    color: var(--white-color);
    box-sizing: border-box;
    margin-left: 800px;
    
}
footer a:link{
    
    color: var(--white-color);
    font-family: var(--paragraph-font);
    text-decoration: none;
    margin-left: 260px;
    padding: 10px;
}    
footer a:hover{
    background-color:var(--accent2-color);
    color: var(--white-color);
}  

footer a:visited{
    color: var(--white-color);
}  


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}