@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Montserrat:wght@400;600&family=Poppins:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
    --accent1-color: #ff7d00ff;
    --accent2-color: #78290fff;

    /* change the values below to your chosen font(s) */

    --heading-font: 'Open Sans', sans-serif;
    --heading-font-size: 4em;
    --paragraph-font: Poppins, Helvetica, sans-serif;
    --paragraph-font-small: 1.2em;
    --paragraph-font-medium: 1.5em;
    --paragraph-font-large: 2em;
    --paragraph-font-xlarge: 3em;

    /* these colors below should be chosen from among your palette colors above */

    --nav-link-color: #ffffff;
    --nav-hover-link-color: rgb(0, 0, 0);
}

body {
    background-color: rgb(241, 155, 198);
    color: var(--primary-color);
    text-align: center;
}

header {
    width: 40rem;
    margin: 0 auto;
}

.white_header {
    font-family: var(--heading-font);
    font-size: var(--heading-font-size);
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--paragraph-font-small);
}

.author_white {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-medium);
}

.bullets {
    font-family: var(--heading-font);
    font-size: var(--paragraph-font-medium);
    color: var(--secondary-color);
    font-weight: bold;
    text-align: left;
    list-style-position: inside;
    padding-inline-start: 00px;
}

.card_image {
    width: 18rem;
    margin: 30 0 30 0;
}



.quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--paragraph-font-xlarge);
    width: 25rem;
    display: block;
    padding-top: 30px;
    padding-bottom: 50;
    margin: 0 auto;
}
footer{
       margin-top: 30px;

}
.author_black {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-medium);
    color: var(--secondary-color);
    font-weight: bold;
    width: 30rem;
    display: block;
    margin: 0 auto;

}